.parallax-container {
   height: 400px;
 }
.progress .indeterminate {
     background-color: #5b6b6a;
 }
 nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
     font-size: 30px;
     margin-left: 20px;
   }
